body {
margin: 0;
font-family: Arial, sans-serif;
background: #f2f2f2;
color: #333;
}
header {
background: #3A7FC8;
padding: 25px;
text-align: center;
color: white;
}
header h1 {
margin: 0;
font-size: 36px;
font-weight: bold;
}
nav {
background: #ffffff;
padding: 15px;
display: flex;
justify-content: center;
gap: 30px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
position: sticky;
top: 0;
z-index: 10;
}
nav a {
color: #3A7FC8;
font-weight: bold;
text-decoration: none;
font-size: 18px;
}
section {
padding: 40px 20px;
max-width: 1000px;
margin: auto;
}
h2 {
color: #3A7FC8;
margin-bottom: 10px;
font-size: 30px;
}
p, li {
font-size: 18px;
line-height: 1.6;
}
.card {
background: white;
padding: 25px;
border-radius: 12px;
box-shadow: 0 2px 8px rgba(0,0,0,0.15);
margin-bottom: 20px;
}
.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 20px;
margin-top: 20px;
}

.btn_index{
display: inline-block;
background: #3A7FC8;
color: white;
padding: 12px 20px;
border-radius: 8px;
text-decoration: none;
font-size: 18px;
margin-top: 10px;
}

.btn_entrar  {
display: inline-block;
background: #3A7FC8;
color: white;
padding: 12px 20px;
border-radius: 8px;
text-decoration: none;
font-size: 18px;
margin-top: 10px;
}

.btn_sair  {
display: inline-block;
background: #c83a3a;
color: white;
padding: 12px 20px;
border-radius: 8px;
text-decoration: none;
font-size: 18px;
margin-top: 10px;
}
footer {
text-align: center;
padding: 20px;
margin-top: 40px;
background: #3A7FC8;
color: white;
}

 header {
      text-align: center;
      padding: 40px 10px;
      background: #0d6efd;
      color: white;
    }

    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      padding: 15px;
      background: #f8f9fa;
    }

    nav a {
      text-decoration: none;
      font-weight: 500;
      color: #0d6efd;
    }

    .card {
      margin: 20px auto;
      padding: 20px;
      max-width: 900px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      gap: 20px;
      margin-top: 20px;
    }

    footer {
      text-align: center;
      padding: 20px;
      background: #0d6efd;
      color: white;
      margin-top: 40px;
    }